<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        </title>
        <!-- <import type="css" file="a.xiaoye" />
        <import type="js" file="daye" /> -->

        <load href="__PUBLIC__/daye.js" />
    </head>
<div class="top-box">
  <div class="top">
    <span class="fl">今天是2月23日星期四</span>
    <a href="javascript:setHomepage()" target="_self" title="设为首页" class="fl">设为首页</a>
      <a href="/m" target="_blank" class="fl">手机版网站</a>
    <a href="http://3g.weather.com.cn/" target="_blank" class="fl">收藏网页</a>
      <iframe width="240" scrolling="no" height="25" frameborder="0" allowtransparency="true" style="margin-left: 8px;" src="/index/chajian.php"></iframe>
    <a href="/w123" class="en fr">气象导航</a>
    <div class="clear"></div>
  </div>
</div>
<div class="header-box">
  <div class="header">
    <div class="w_logo fl"><a href="/"></a></div>
    <div class="warn-box fr">
    
<div class="warn clearfix">
		 <div class="clear"></div>
	</div>
<div class="inforesult"><img src="http://www.weather.com.cn/m2/i/guangdong/zhyj/hl_3.gif" width="50" height="43"></div>
	
    </div>
    <div class="w_weather"></div>
    <div class="clear"></div>
  </div>
  <div class="topnav">
    <a href="/">首页</a>|
      <a href="/forecast/" id="510">天气</a>|
      <a href="/info/" id="32">资料</a>|
      <a href="/typhoon/" id="10">台风</a>|
      <a href="/earthquake/" id="34">地震</a>|
      <a href="/disaster/">减灾</a>|
      <a href="/environ/" style="padding-right:0">环境</a>
  </div>
  
</div>