<div class="footer">
            <div class="block">
            <div class="Lcontent">
            <dl style="width:280px;margin-left: 50px; margin-right:22px;">
              <dt><h3>网站相关</h3></dt>
              <dd>
              <p><a href="/">关于我们</a><a href="/">联系我们</a><a href="/">加入我们</a></p>
              <p><a href="/">更新日志</a><a href="/">网站地图</a><a href="/">广告合作</a></p>
              </dd>
            </dl>
            <dl style="width:200px;">
            <dt><h3>用户中心</h3></dt>
            <dd>
            <p><a href="/">投诉建议</a><a href="/">网站志愿者</a></p>
            <p><a href="/">用户交流</a><a href="/">手机版</a></p>
            </dd>
            </dl>
            <div class="clear"></div>
            </div>
            <div class="friendLink">
            <h3>相关网站</h3>
            <p>
              <a href="http://www.st12121.net/" target="_blank">汕头台网</a>
              <a href="http://www.gdczqx.com/" target="_blank">潮州台网</a>
              <a href="http://www.jyqx.cn/" target="_blank">揭阳台网</a>
              <a href="http://www.swqx.com.cn/" target="_blank">汕尾台网</a>
              <a href="http://www.mzqx.net/" target="_blank">梅州台网</a>
            </p>
            <p>
              <a href="http://www.tqyb.com.cn/" target="_blank">广州台网</a>
              <a href="http://www.szmb.gov.cn/" target="_blank">深圳台网</a>
              <a href="http://www.hyqxj.cn/hygzw/" target="_blank">河源台网</a>
              <a href="http://www.xmweather.cn/" target="_blank">厦门台网</a>
              <a href="http://www.zzqxw.gov.cn/" target="_blank">漳州台网</a>
            </p>
            <p>
              <a href="http://www.gdmo.cn/weather-gdmo/" target="_blank">广东省气象台</a>
              <a href="http://www.gd121.cn/" target="_blank">广东应急气象网</a>
              <a href="http://gd.weather.com.cn/" target="_blank">广东天气网</a>
              <a href="http://www.grmc.gov.cn/" target="_blank">广东省气象局</a>
            </p>
            </div>
            <div class="clear"></div>
            </div>
            <div class="aboutUs"> Copyright©<a href="http://www.xiaok.site" target="_blank">keven工作室</a> All Rights Reserved (2012-2017) 本站点由keven工作室运营，实况和降雨预报由中国气象局和彩云天气联合提供</div>
        </div>