.con .x3 i,.today .sk .therm,.around span.move,.greatEvent p.time,.sk div.p{background-image:url("/img/iconall.png");background-repeat:no-repeat;display:block}
.today .t .sk{border:1px solid #d4d4d4;float:left;height:296px;position:relative;width:54%}
.today .t .sk .time{color:#7e7e7e;font-size:13px;left:26px;position:absolute;top:13px}
.today .t .sk .therm{background-position:0 0;height:132px;left:62px;position:absolute;top:61px;width:76px}
.today .t .sk .therm p{bottom:35px;left:35px;position:absolute;width:15px}
.today .t .sk .therm p .t{background-position:-35px -137px;height:8px;width:15px}
.today .t .sk .therm p .c{background-position:-35px -142px;height:38px;width:15px}
.today .t .sk .tem{color:#2d76b6;left:149px;position:absolute;top:75px}
.today .t .sk .tem span{font-size: 72px;}
.today .t .sk .tem em{font-size: 30px;}
.today .t .sk .zs{position:absolute}
.today .t .sk .zs i{float:left;height:24px;margin-right:8px;width:24px}
.today .t .sk .zs span{float:left;font-size:16px;letter-spacing:0;margin-right:8px}
.today .t .sk .zs em{float:left;font-size:16px}
.today .t .sk .h{left:24px;top:214px}
.today .t .sk .u{left:24px;top:245px}
.today .t .sk .u i {background-position: -33px -269px;}
.today .t .sk .h i{background-position:-2px -289px}
.today .t .sk .w{left:200px;top:213px}
.today .t .sk .d i{background-position: -2px -269px;}
.today .t .sk .d{left:200px;top:245px}
.today .t .sk .w i{background-position:-36px -291px}.today .t .sk .w em{letter-spacing:2px}
.today .t .sk .pol{left:24px;top:250px}.today .t .sk .pol i{background-position:-2px -314px}.today .t .sk .pol em{margin-right:8px}.today .t .sk .limit{left:200px;top:250px}.today .t .sk .limit i{background-position:-36px -314px}
.today .t .sk .limit em{letter-spacing:6px}
.today .t .sk .sk_alarm{position:absolute;right:31px;top:38px}
.today .t .sk .sk_alarm a{line-height:26px;height:26px;border-radius:5px;padding:0 11px;display:block;color:#fff;font-size:16px}
.today .t .sk .sk_alarm a.blue{background:#1b54a4}.today .t .sk .sk_alarm a.yellow{background:#e2c004}
.today .t .sk .sk_alarm a.orange{background:#ed832f}.today .t .sk .sk_alarm a.red{background:#f00}
.today .t .sk .sk_alarm a.white{background:#fff}
.today .t ul li{border:1px solid #d4d4d4;float:left;font-size:14px;height:296px;margin-left:5px;position:relative;text-align:center;width:22%;}
.today .t ul li h1{font-size:13px;margin-top:15px}
.today .t ul li .wea{height:36px;line-height:32px;margin:0 auto;overflow:hidden;padding-top:7px;width:88%}
.today .t ul li .tem{color:#7f7f7f;line-height:50px;margin-top:10px}
.today .t ul li .tem span{font-size:26px}
.today .t ul li .tem em{font-size:24px}
.today .t ul li .win{display:inline-block;height:26px;line-height:26px;margin-top:5px;overflow:hidden;text-align:center;*position:relative;*width:100%}
.today .t ul li .win span{display:inline-block;height:34px;*position:absolute;*left:65px;*top:1px;*display:block}
.today .t ul li .win i{    background-position: -36px -291px;display:inline-block;float:left;height:25px;padding:0;width:24px;*position:absolute;*left:39px;*top:2px}
.today .t ul li .win i.S{background-position:-82px -22px}
.today .t ul li .win i.N{background-position:-83px -46px}.today .t ul li .win i.W{background-position:-82px -91px}
.today .t ul li .win i.E{background-position:-82px -69px}.today .t ul li .win i.NE{background-position:-81px -164px}
.today .t ul li .win i.NW{background-position:-82px -188px}.today .t ul li .win i.SE{background-position:-83px -115px}
.today .t ul li .win i.SW{background-position:-82px -138px}.today .t ul li .win .winImg{margin-top:0}
.today .t ul li .sun{height:24px;margin-top:2px;position:relative;text-align:center;width:100%}
.today .t ul li .sun i{display:block;height:22px;left:27px;position:absolute;top:3px;width:22px}
.today .t ul li .sun span{left:55px;line-height:24px;position:absolute;top:3px;color:#606060}.today .t ul li .sunUp i{background-position:-33px -269px}
.today .t ul li .sunDown i{background-position:-2px -269px}.con .left .today{margin-top:6px}#adposter_6122{margin-top:16px
.today .t .sk .sunup i{    left: 24px;    top: 245px; margin-top: 2px;    position: relative;    text-align: center;    width: 100%;}